@{
    ViewBag.Title = "Doctor";
}

<div style="background:linear-gradient(180deg, #FAFDFF -19.77%, #59B2FF 88.03%, #279BFF 121.24%); width: 1150px; height: 500px; ">
    <h1 style="padding:50px 80px ; font-size:80px">Welcome to Doctor ! </h1>
    <p style="padding:20px 80px ; font-size:20px"> Choose the doctor that you want with our very own booking app</p>
    <a class="btn btn-primary btn-xl text-uppercase" style="margin: 30px 80px; width: 120px; height: 40px ;background: #0089FF; box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); border-radius: 50px;" href="about">Get Start</a>
    <img src="~/assets/undraw_doctor_kw5l 1.png" style=" position: absolute;height: 215px; right:80px;top: 170px; "/>

</div>

